<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {%- block title -%}
        SymfonAI
      {%- endblock -%}
    </title>

    {# CSS global (Bootstrap + app.scss compilé) #}
    {{ encore_entry_link_tags("app") }}
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">SymfonAI</a>
        <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ path("mazarini_symfonai_gemini_chat") }}">Gemini Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("mazarini_symfonai_openai_chat") }}">OpenAI Chat</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block body %}
        {# Contenu principal #}
      {% endblock %}
    </div>

    <footer class="footer mt-auto p-0 bg-body fixed-bottom">
      <div class="container text-center">
        <span class="text-body small">Copyright (C) {{ "now"|date("Y") }} SymfonAI.</span>
      </div>
    </footer>

    {# JS global (Bootstrap + app.js compilé) #}
    {{ encore_entry_script_tags("app") }}
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
